<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Drug Input</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
          referrerpolicy="no-referrer"/>
</head>
<body>
<nav class="bg-white dark:bg-black dark:text-white flex flex-col md:flex-row items-center md:justify-between px-6 py-4 border-b border-b-gray-60 shadow-sm max-w-screen-2xl mx-auto">
    <!-- Logo -->
    <div>
        <h2 class="text-3xl font-bold">
            <a>Drug Input</a>
        </h2>
    </div>
</nav>
<div class="flex items-center justify-center p-12">
    <div class="mx-auto w-full max-w-[550px]">
        <form action="#" th:action="@{/drugs/add_drug}" th:object="${drug_info}" method="POST">
            <input type="text" name="name" id="id" placeholder="Drug Id" th:value="${drug_info.id}"
                   th:field="*{id}" hidden
                   class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
            />
            <div class="mb-5">
                <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
                    Drug Name
                </label>
                <input type="text" name="name" id="name" placeholder="Drug Name" th:value="${drug_info.drugName}"
                       th:field="*{drugName}" required
                       class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                />
            </div>
            <div class="mb-5">
                <label for="name" class="mb-3 block text-base font-medium text-[#07074D]">
                    Drug Scientific Name
                </label>
                <input type="text" id="scientificName" name="name" placeholder="Drug Scientific Name"
                       th:value="${drug_info.drugScientificName}" th:field="*{drugScientificName}" required
                       class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                />
                <p class="text-red-600" th:text="${drug_error}"></p>
            </div>
            <div class="mb-5">
                <label class="mb-3 block text-base font-medium text-[#07074D]">
                    Drug Size(mg)
                </label>
                <input type="text" name="name" id="drugSize" placeholder="Drug Size" th:value="${drug_info.drugSize}"
                       th:field="*{drugSize}" required
                       class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                />
                <p class="text-red-600" th:text="${drug_error}"></p>
            </div>
            <div class="mb-5">
                <label class="mb-3 block text-base font-medium text-[#07074D]">
                    Drug Packaging
                </label>
                <input type="text" name="name" id="drugPackaging" placeholder="Drug Packaging e.g. Capsule"
                       th:value="${drug_info.drugPackaging}" th:field="*{drugPackaging}" required
                       class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                />
            </div>
            <div class="mb-5">
                <label class="mb-3 block text-base font-medium text-[#07074D]">Message </label>
                <textarea rows="4" name="message" id="drugPurpose" placeholder="Drug Purpose and Use" th:value="${drug_info.drugPurpose}"
                          th:field="*{drugPurpose}" required
                          class="w-full resize-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                ></textarea>
            </div>
            <input type="number" name="patientId" id="patientId" placeholder="Drug Patient Id" th:field="*{patientId}"
                   th:value="${drug_info.patientId}"
                   class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                   hidden/>
            <div style="display:flex; justify-content:space-between; width:50%;">
                <button class="bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer">
                    Submit
                </button>
                <a th:href="@{'/patient/patient_info/'+${drug_info.patientId}}"
                   class="bg-black px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer">
                    Back
                </a>
            </div>
        </form>
    </div>
</div>

</body>
</html>